<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">sustacia X</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="btn btn-link" routerLink="/">Inicio</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-link" routerLink="galeria-x">Galeria</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-link" routerLink="cartoon-network">Canales</button>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Mi footer</h1>
            </div>
        </div>
    </div>
</footer>